[submodule "libs/Signals"]
	path = libs/Signals
	url = https://github.com/RyanDraves/Signals.git
	branch = ryans_branch_or_something_like_that
[submodule "demos/chess"]
	path = demos/chess
	url = https://github.com/RyanDraves/Chess-curses.git
	branch = ryans_branch_or_something_like_that
